@media only screen and (max-width:600px) {
    .container {
        color: red;
        width: fit-content;
        margin: auto;
        font-size: 2rem;
    }
}

@media only screen and (min-width:600px) {
    .container {
        color: blue;
        width: fit-content;
        margin: auto;
        font-size: 2rem;
    }
}

@media only screen and (min-width:729px) {
    .container {
        color: violet;
        width: fit-content;
        margin: auto;
        font-size: 2rem;
    }
}

body {
    height: 100vh;
    display: flex;
}